@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pizza store</h1>
    <p>You can find different Pizzas here</p>
</div>
<div class="text-center">
    <p>Theme Name: Pizza</p>
    <p>Name: Haider Ali</p>
    <p>Date: @DateTime.Now</p>
</div>