@page "/"

<h1>Hello, world!</h1>

<h1>My PizzaApp</h1>
<p>Theme Name: @themeName</p>
<h5>Name: @fullName</h5>
<p>Time: @DateTime.Now</p>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private string fullName = "Haider Ali";
    private string themeName = "PizzaApp";
}