@page "/pizzaTypes"

<h3>Pizza Types</h3>

<button @onclick="ShowTypes">
    Show Types
</button>

<p>

    @for (var i = 0; i < noOfTypes; i++)
    {
        @types[i] <br />
    }


</p>
<label>Number of Pizza Types to display:</label>
<input value="5" type="number" @onchange="@(e=> UpdatePizzaTypes(int.Parse(e.Value.ToString())))">

@code {

    private string[] types = new string[5];

    private void ShowTypes()
    {
        types[0] = "Chicken Pizza";
        types[1] = "Peproni Pizza";
        types[2] = "Bacon Pizza";
        types[3] = "Beef Pizza";
        types[4] = "Hebenero Pizza";
    }
    private int noOfTypes = 5;
    private void UpdatePizzaTypes(int num)
    {
        if (num >= 0 && num <= 5)
        {
            noOfTypes = num;
        }
    }

}